/* Universal endringer */
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Prata&family=Sevillana&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Prata", "Verdana";
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #90a1b9;
    color: #fcfcfc;
}

img, video{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a:visited, a {
  color: #fcfcfc;
}

span {
    display: none;
}

.see-more {
  transition: padding 0.1s ease-in;
}

.see-more:hover {
    text-decoration: underline;
    padding: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header */

.main-header {
  background-color: #314158;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0; 
}

.header-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.main-nav ul{
    list-style: none;
    display: flex;
    gap: 8rem;
    text-align: end;
}

.main-nav a {
    color: #fcfcfc;
    font-weight: 500;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #fcfcfc;
    text-decoration: underline;
}

/* Main Section */

main {
    flex: 1;
}
    /* Hei jeg er */
.intro-container {
    display: flex;
    background-color: #1d293d;
    flex-direction: row-reverse;
}
.intro-container-reverse {
    display: flex;
    background-color: #1d293d;
    flex-direction: row;
}

    .section {
        padding: 4rem;
    }
    .sectionIMG {
        width: 75%;
    }
    .sectionIMG2 {
        width: 100%;
    }
    .enlarge{
        font-size: 3rem;
    }
    .enlargeS{
        font-size: 2rem;
    }
    .shrink{
        font-size: 1.2rem;
    }

    /* Trykke feltet */
.the-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    .section-container {
        /* margin-top: 2rem; */
        margin-left: 2rem;
        padding: 3rem;
    }

    .section1 {
        margin: 4rem 0 1rem 0;
        padding: 4rem;
        box-shadow: 6px 6px 10px 4px rgba(0, 0, 0, 0.25);
    }

    .see-more {
        background-color: #45556c;
        text-align: center;
        font-size: x-large;
        border-radius: 314px;
    }

    .section1 img {
        margin: 1rem 0 1rem 0;
    }

/* Navigasjon html */
    .main-section-container {
    display: flex;
}

    .info-section img {
        width: 80%;
        border-radius: 26px;
        border: 2px solid white;
    }

    .info-section, .coupled-section{
        margin: 4rem 0 1rem 0;
        padding: 4rem;
        box-shadow: 6px 6px 10px 4px rgba(0, 0, 0, 0.25);
    }
    .info-coupled-container {
        display: flex;
        flex-direction: column;
    }
    .coupled-section {
        display: flex;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    .coupled {
        width: 100%;
        height: auto;
        margin: 0 2rem 0 2rem;
    }
    .coupled img, video {
        width: 100%;
        height: auto;
        min-width: 200px;
        display: block;
        flex-shrink: 0;
        border: 2px solid black;
        border-radius: 26px;
    }
    .coupled .shrink {
        font-weight: 100;
    }

/* Footer */

.main-footer {
  background-color: #314158;
  padding: 1rem 2rem;
  position: relative;
  bottom: 0; 
}

.footer-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.main-nav ul{
    list-style: none;
    display: flex;
    gap: 8rem;
    text-align: end;
}

.main-nav a {
    color: #fcfcfc;
    font-weight: 500;
    transition: color 0.3s;
}

.link {
    text-decoration: underline;
}

/* Media Query */

@media (max-width: 1000px) {
    .intro-container {
        display: block;
    }
    .sectionIMG, .sectionIMG2 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .main-nav ul {
        align-items: flex-start;
        gap: 1rem;
    }
    .section1 {
        width: 50%;
    }
    .coupled-section {
        flex-direction: column;
    }
    .coupled img, .coupled video {
        min-width: 200px;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .main-nav ul {
    gap: 1rem;
    font-size: 0.8rem;
  }

  /* Center header content */
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  /* Resize section titles */
  .enlarge,
  .enlargeS {
    font-size: auto;
  }

  .shrink {
    font-size: auto;
  }

  .section1 {
    padding: 8px;
    width: 100%;
  }
  .info-section {
    padding: 0;
    padding-left: 32px;
  }

  .section1 h1 {
    font-size: 1.5rem;
  }
  .emne {
    font-size: 1.4rem;
  }
  .coupled, .coupled-section {
    min-width: 100px;
  }

}

@media (max-width: 400px) {
    .coupled {
        padding-top: 1rem;
        margin: 0;
    }
    .coupled-section {
        padding: 0;
        margin: 1rem 1rem 1rem 1rem;
    }
}

@media (max-width: 340px) {
    .main-nav ul {
        font-size: 0.62rem;
    }
    span {
        display: contents;
    }
}